// @TODO: Need to clean this up a bit, maybe modularize it depending on it's complexity.

body {
  padding-top: 50px;
}

[role="contentinfo"] {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding: 20px 0;
}
