// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA LIST: STATUS STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.media-list--status { margin-bottom: pxcalc(20);

  > li { @include rem(20); margin-bottom: 1em; position: relative;

  }

  // @TODO: Vertically align to center.
  .icon-status { border-radius: 3px; border-style: solid; border-width: 2px; margin-right: 0.5rem; display: inline-block;
    &:before { display: block; padding: 0.1em; }
  }

  .complete {
    .icon-status { border-color: $app_green; color: $app_green; }
  }

  .-incomplete {
    .icon-status { border-color: $app_light_gray; color: $app_light_gray;
      &:before { visibility: hidden; }
    }
  }

  .button {
    &.-link { padding: pxcalc(6) 0 pxcalc(6) pxcalc(5); position: absolute; right: 0; top: 0; }
  }

  ul { @include rem(16); padding-left: pxcalc(50); }

}

.button + .media-list--status { margin-top: pxcalc(20); }



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .media-list--status { margin-bottom: pxcalc(30);

    > li { margin-bottom: 1.5em; }

  }

  .button + .media-list--status { margin-top: pxcalc(30); }

}
