// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// LAYOUT STYLES
//
// Contains styles for layout of main page components, such as container,
// header, nav, main, primary, secondary, footer, etc.
//
// Style declarations should really only contain layout related definitions,
// such as width, height, positioning, float, margins and padding for these
// main regions.
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// LOCAL VARIABLES
$nav_width : 260px;
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


html, body { height: 100%; }

.container {  min-height: 100%; height: auto !important; height: 100%; overflow: hidden; position: relative; }

.panel--main,
.main-nav { transition: transform 0.3s ease-out; }

[role="banner"],
[role="contentinfo"] { padding-left: pxcalc(10); padding-right: pxcalc(10); }



// JS ENABLED
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.js {

  // @TODO: Safari Bug which causes browser to immediately quit out, due to use of transition and calc()... @_@
  // .main-nav { height: 100%; left: 0; position: fixed; top: 0; width: calc(100% - 60px); transform: translateX(calc(100% + 60px)); }
  .main-nav { height: 100%; right: 0; position: fixed; top: 0; transform: translateX($nav_width); width: $nav_width; }

  .is-showing-main-nav {

    // @TODO: Safari Bug
    // .panel--main { transform: translateX(calc(-100% + 60px)); }
    .panel--main { transform: translateX(-($nav_width)); }

    // @TODO: Safari Bug
    // .main-nav { transform: translateX(calc(0% + 60px)); }
    .main-nav { transform: translateX(0); }

  }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .js {

    .main-nav { height: auto; left: auto; position: absolute; top: 0; transform: translateX(0); right: 0; width: auto; }

  }

}
