// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA LIST: STATUS STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.media-list--status {

  li { @include rem(20); margin-bottom: 0.5em; position: relative; background-color: rgba(fuchsia,0.1);

  }

  // @TODO: Vertically align to center.
  .icon { border-radius: 3px; border-style: solid; border-width: 2px; margin-right: 0.3rem; display: inline-block;
    &:before { display: block; padding: 0.1em; }
  }

  .complete {
    .icon { border-color: $app_green; color: $app_green; }
  }

  .-incomplete {
    .icon { border-color: $app_light_gray; color: $app_light_gray;
      &:before { visibility: hidden; }
    }
  }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

}
