// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// SEGMENT: CTA STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.segment--cta {

  .fragment { text-align: center;
    a { display: block; margin: 0 auto; }

    a + a { margin-top: gutter(); }
  }

  .fragment:last-of-type { display: table; margin: 0 auto; }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $small) {

  .segment--cta {

    .fragment:first-of-type { @include rem(20); }

  }

}



@media only screen and (min-width: $medium) {

  .segment--cta {
    > .wrapper { @include push(3 of 24); display: table; width: span(18 of 24); }

    .fragment { text-align: left;
      // @TODO: Change when editing how these buttons work.
      .button { display: table; min-width: 320px; }
    }

    .fragment:first-of-type { display: table-cell; vertical-align: top; width: span(9 of 18); }
    .fragment:last-of-type { display: table-cell; padding-left: span(1 of 18); text-align: center; vertical-align: middle; width: span(9 of 18); }

    .fragment + .fragment { padding-top: 0; }

  }

}



@media only screen and (min-width: $large) {

  .segment--cta {

    .fragment:first-of-type { @include rem(24); }

  }

}
