// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// SEGMENT: DETAILED LIST STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


// LOCAL VARIABLES
$sm_icon: 40;
$lg_icon: 70;
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.segment--detailed-list { @include container(100%); background-color: $app_lightest_gray; padding: pxcalc(30) 2.5%;

  ul { list-style-position: inside; list-style-type: square; margin: 0; padding: 0;
    li + li { margin-top: 1em; }

    ul { list-style-type: circle;
      li + li { margin-top: 0; }
    }
  }

  // @TDOD: dry this up along with __title in Steps module
  .__title { font-family: $font_proxima_nova_bold; font-size: 1.2rem; font-weight: normal; line-height: 1; margin-bottom: 1em; padding-left: 50px; position: relative; text-transform: uppercase;
    &:before { @extend .icon; background-color: $app_primary; border-radius: 100%; color: #fff; display: block; height: $sm_icon + px; left: 0; line-height: $sm_icon + px; margin-top: -($sm_icon / 2) + px; position: absolute; text-align: center; top: 50%; width: $sm_icon + px; }
  }

  p + ul,
  p + .__title,
  ul + .__title { margin-top: 1.5em; }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .segment--detailed-list { padding: pxcalc(60) 0;

    .fragment { @include span(10 of 20); padding-left: pxcalc(50);
      &:first-of-type { @include first; }
    }

    .fragment + .fragment { padding-top: 0; }

    .__title { margin-bottom: 0.5em; padding-left: 0;
      &:before { left: -50px; }
    }

  }

}



@media only screen and (min-width: $large) {

  .segment--detailed-list {

    .fragment { padding-left: 85px; }

    .__title { @include rem(32);
      &:before { height: $lg_icon + px; left: -80px; line-height: $lg_icon + px; margin-top: -35px; width: $lg_icon + px; }
    }

  }

}
