// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// SEGMENT: NOMINATE STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.segment--nominate { @include container(100%); color: #fff; padding-left: 2.5%; padding-right: 2.5%;
  background: rgba(#aaa,0.3) url('/dist/images/studying-hard.jpg') center center; background-size: cover;

  .heading,
  label { text-shadow: 0 0 4px rgba(0,0,0,0.3); }

  .fragment + .fragment { margin-top: pxcalc(40); }

  .field-group {
    input[type="text"],
    input[type="email"] { border: 0 none; color: #000; }

    &.-action { clear: both; padding-top: 1.5em;
      > input[type="submit"] { display: table; margin: 0 auto; }
    }
  }

}




// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .segment--nominate { padding-left: 0; padding-right: 0;
    > .wrapper { @include push(1 of 24); width: span(22 of 24);
    }

    .fragment + .fragment { margin-top: 0; }

    .fragment {
      &.-alpha { @include span(first 10 of 22); }
      &.-beta { @include span(last 10 of 22); }
    }

    .field-group {
      &.-action { padding-top: 3em;
        input[type="submit"] { min-width: 320px; }
      }
    }

  }

}



@media only screen and (min-width: $large) {

  .segment--nominate {
    > .wrapper { @include push(3 of 24); width: span(18 of 24);
    }

    .fragment {
      &.-alpha { @include span(first 8 of 18); }
      &.-beta { @include span(last 8 of 18); }
    }

  }

}
