// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// SEGMENT: NOMINATE STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.segment--nominate { @include container(100%); background-color: $app_background; color: #fff; padding: pxcalc(30) 2.5%; position: relative;
  > .wrapper { position: relative; z-index: 10; }

  .heading,
  label { text-shadow: 0 0 4px rgba(0,0,0,0.3); }

  .field-group {
    input[type="text"],
    input[type="email"] { border: 0 none; color: #000; }

    &.-action { clear: both; padding: 1.5em 0 0;
      > input[type="submit"] { display: table; margin: 0 auto; }
    }
  }

  .__image { background-position: center center; background-size: cover; height: 100%; left: 0; opacity: 0.65; position: absolute; top: 0; width: 100%; z-index: 5; }

}




// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .segment--nominate { padding: pxcalc(50) 0;
    > .wrapper { @include push(1 of 24); width: span(22 of 24);
    }

    .fragment + .fragment { padding-top: 0; }

    .fragment {
      &.-alpha { @include span(first 10 of 22); }
      &.-beta { @include span(last 10 of 22); }
    }

    .field-group {
      &.-action { padding-top: 2em;
        input[type="submit"] { min-width: 320px; }
      }
    }

  }

}



@media only screen and (min-width: $large) {

  .segment--nominate {
    > .wrapper { @include push(3 of 24); width: span(18 of 24);
    }

    .fragment {
      &.-alpha { @include span(first 8 of 18); }
      &.-beta { @include span(last 8 of 18); }
    }

  }

}
