// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// STEPS STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.segment--steps { counter-reset: step-counter;

  ol { @include list_reset();
    li { counter-increment: step-counter; padding-left: pxcalc(60); position: relative;
      &:before { @include rem(32); background-color: #000; color: #fff; content: counter(step-counter); display: inline-block; height: pxcalc(50,32); left: 0; line-height: pxcalc(50,32); position: absolute; text-align: center; width: pxcalc(50,32); }
    }
  }

  li {
    // @TDOD: dry this up into a mixin for all heading types...
    > .__title { font-family: $font_proxima_nova_bold; font-size: 1.2rem; font-weight: normal; line-height: 1; margin-bottom: 0; text-transform: uppercase; }
  }

  li + li { padding-top: 2em; }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .segment--steps {
    > .wrapper { @include push(2 of 24); width: span(20 of 24); }

    li + li { padding-top: 3.75em; }


    // Vertical Format
    &.-vertical {

      > .wrapper { display: table;
        > .__title { @include rem(50); display: table-cell; text-align: left; vertical-align: middle; width: span(wider 7 of 20); }
      }

      ol { display: table-cell; vertical-align: top; padding-left: span(1 of 20); width: span(13 of 20); }

    }


    // Horizontal Format
    &.-horizontal {

      ol { @include clearfix(); padding: pxcalc(20) 0; }
      
      @include with-layout($triad) {
        li { @include span(6);
          &:first-child { @include span(first 6); }
        }
      }

      li { padding: pxcalc(60) 0 0 0;
        &:before { left: 50%; margin-left: -(pxcalc(25,32)); top: 0; }
      }

    }

  }


  // SECTION SPECIFIC
  .section--home {

    .segment--steps {

      // Vertical Format (Section Home))
      &.-vertical {

        ol { padding-left: 0; padding-right: span(1 of 20); width: span(first 12 of 20); }

        .callout { display: table-cell; vertical-align: middle; width: span(7 of 20) }

      }

    }

  }

}



@media only screen and (min-width: $large) {

  .segment--steps {

    li {
      // @TODO: .__titles bust out of container on size increase for -horizontal if long enough.
      > .__title { @include rem(32); font-family: $font_proxima_nova_bold; margin-bottom: pxcalc(10,32); }
    }
    
    
    // Vertical Format
    &.-vertical {

      > .wrapper {
        > .__title { @include rem(72); }
      }

    }

  }

}