// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// HEADING STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.heading {

  &.-alt { color: #fff; }

  // @TODO: confirm all font sizes via design file!

  &.-alpha { font-family: 'ProximaNovaBold'; font-size: 2rem; font-weight: normal; text-align: center; text-transform: uppercase; }

  &.-beta { font-family: 'ProximaNovaBold'; font-size: 1.5rem; font-weight: normal; line-height: 1; text-align: center; text-transform: uppercase; }

  &.-gamma { font-family: 'ProximaNovaBold'; font-size: 1.2rem; font-weight: normal; line-height: 1.1; }

  &.-delta {  }

  &.-epsilon {  }

}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .heading {

    &.-alpha { font-size: 4rem; }

    &.-beta { font-size: 3.3rem; }

    &.-gamma { font-size: 3rem; }

  }

}
