// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// HEADING STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.heading {

  &.-alt { color: #fff; }

  // @TODO: confirm all font sizes via design file!

  &.-alpha { font-family: 'ProximaNovaBold'; font-size: 2rem; font-weight: normal; line-height: 1; text-align: center; text-transform: uppercase; }

  &.-beta { font-family: 'ProximaNovaBold'; font-size: 1.5rem; font-weight: normal; line-height: 1; text-align: center; text-transform: uppercase; }

  &.-gamma { font-family: 'ProximaNovaBold'; font-size: 1.2rem; font-weight: normal; line-height: 1.1; text-transform: uppercase; }

  &.-delta {  }

  &.-epsilon {  }

}


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .heading {

    &.-alpha { @include rem(72); }

    &.-beta { @include rem(48); }

    &.-gamma { @include rem(32); }

    &.-delta { @include rem(23); }

  }

}
