// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// HEADER STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

[role="banner"] { background-color: $app_background; padding-bottom: 10px; padding-top: 10px; position: relative;
  > .wrapper { min-height: 30px; overflow: hidden; }

  .__logo { float: left; margin: 0;
    > a { display: block; }
    img {  max-height: 30px; }
  }
  
}

#button-main-nav { color: #fff; display: block; margin-top: -(pxcalc(25, 30)); padding: pxcalc(10,30); position: absolute; right: 0; top: 50%; 
  &:hover,
  &:focus { color: $app_primary; }
}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  [role="banner"] { height: 75px;

    .__logo {
      > a { display: table-cell; height: 55px; vertical-align: middle; }
      img { max-height: 55px; }
    }

  }

  #button-main-nav { display: none; }

}
