// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MAIN NAVIGATION STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.main-nav {
  .__menu { @include list_reset(); }
}

.main-nav { background-color: $app_background; text-align: center;
  a { color: $app_primary; display: block; line-height: 1; padding: 1rem; text-decoration: none;
    &:hover { background-color: rgba(#000, 0.2); }
  }

  .__menu { @include list_reset();
    .-active {
      a { background-color: rgba(#000, 0.4);; color: #fff; }
    }
  }
}


// JS ENABLED
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.js {

  .main-nav { box-shadow: 3px 0 8px rgba(black, 0.3) inset; }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  // @TODO: clean this up!
  .main-nav { background-color: transparent;
    a { height: 75px; line-height: 55px; padding: 10px 0;
      > span { padding: 0 0.75rem; }

      &:hover { background-color: transparent; text-decoration: underline; }
    }

    .__menu { overflow: hidden;
      li { float: left;
        span { border-right: 1px solid $app_primary; }
        &:last-child span { border: 0 none; }
      }

      li:first-child { display: none; }

      .-active {
        a { background-color: transparent; }
      }
    }

  }


  // JS ENABLED
  // ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

  .js {

    .main-nav { box-shadow: none; }

  }

}
