// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// CUSTOM STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

body {
  padding-top: 50px;
}

[role="contentinfo"] {
  border-top: 1px solid #eee;
  margin-top: 30px;
  padding: 20px 0;
}

textarea {
  max-height: 500px;
  resize: vertical;
}

.sidebar {
  .btn { width: 100%; }

  .btn + .btn { margin-top: 15px; }
}

.image-holder { padding: 10px 10px 20px;
  img { max-width: 100%;
    background-color: #fafafa;
    background-image:
      linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc),
      linear-gradient(45deg, #ccc 25%, transparent 25%, transparent 75%, #ccc 75%, #ccc);
    background-size:10px 10px;
    background-position:0 0, 5px 5px;

    box-shadow: 2px 2px 2px rgba(#000, 0.4);
  }
}

.form-group { margin-bottom: 35px; }




// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {  //need to go with Bootstrap MQs!

  .alert { top: 70px; box-shadow: 0 5px 10px rgba(0,0,0,0.25); left: 1%; position: fixed; width: 98%; z-index: 2000; }

}
