// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// BANNER STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.banner { background-color: #444; color: #fff; padding: pxcalc(20) pxcalc(10); position: relative; text-align: center;
  > .wrapper { position: relative; z-index: 10; }

  .__title { @include visually_hidden(); }

  .__tagline { margin-bottom: 0; }

  .__image { background-position: center center; background-size: cover; height: 100%; left: 0; opacity: 0.7; position: absolute; top: 0; width: 100%; z-index: 5; }

  &.-hero { text-shadow: 0 0 4px rgba(0,0,0,0.3); text-transform: uppercase;
    // background-image: url('/dist/images/studying-hard.jpg'); // @TODO: Remove! Only temporary!
  }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .banner { display: table; height: pxcalc(442); width: 100%;
    > .wrapper { display: table-cell; vertical-align: bottom; }
  }

}
