// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// BANNER STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.banner { background-color: $app_background; color: #fff; display: table; min-height: pxcalc(200); padding: pxcalc(20) pxcalc(10); position: relative; text-align: center; width: 100%;
  > .wrapper { display: table-cell; position: relative; vertical-align: bottom; z-index: 10; }

  &.-hero { @include text_shadow(); text-transform: uppercase;

    .__title { @include visually_hidden(); }

    .__tagline { line-height: 1.2; margin-bottom: 0; }

    .__image { background-position: center center; background-size: cover; height: 100%; left: 0; opacity: 0.65; position: absolute; top: 0; width: 100%; z-index: 5; }

  }

}



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .banner { height: pxcalc(440);

    &.-hero {

      .__tagline {
        > span { display: block; }
      }

    }

  }

}
