// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MODAL STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.modal { background-color: rgba(0,0,0,0.8); display: none; position: fixed; z-index: 1000;
  .button--close { position: absolute; right: 5px; top: 5px; z-index: 100; }
}

.modal--slideshow { height: 100%; left: 0; top: 100%; width: 100%;
  > .wrapper { height: 100%; }
}

body.has-modal { position: fixed; width: 100%; }


// JS ENABLED
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.modal.is-toggled { display: block; }

.modal--slideshow.is-toggled { top: 0; }



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $small) {

  .modal--slideshow {
    > .wrapper { padding: pxcalc(10) 0; }
  }

}


@media only screen and (min-width: $large) {

  // .modal--slideshow {
  //   > .wrapper { margin: 0 auto; max-width: pxcalc(700); overflow: hidden; }
  // }

}
