// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MODAL STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.modal { background-color: rgba(0,0,0,0.6); position: fixed; z-index: 1000; 
  .button--close { padding: 20px; position: absolute; right: 0; top: 0; }
}

.modal--slideshow { display: none; height: 100%; left: 0; top: 100%; width: 100%; 
  > .wrapper { height: 100%; background-color: rgba(pink, 0.3); }
}

body.has-modal { position: fixed; width: 100%; }



// JS ENABLED
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
.modal--slideshow.is-toggled { display: block; top: 0; }
