// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// SEGMENT STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~


.segment { @include container(); padding: pxcalc(20) pxcalc(10); }

.banner + .segment { border-bottom: 1px solid $app_primary; }


// @TODO: Separate into individual scss files.
.segment--nominate { background: #aaa url('/dist/images/studying-hard.jpg') center center; background-size: cover; color: #fff; }

.segment--checklist { background-color: $app_lightest_gray; }



// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $medium) {

  .segment { @include container($wide); padding: pxcalc(35) 0;

    &.-compact {
      > .wrapper { @include push(2 of 12); width: span(8 of 12); }

      .field-group {
        &.-mono { width: span(4); }

        &.-dual {
          &.-alpha { @include span(first 4); }
          &.-beta { @include span(4); }
        }
      }
    }

  }

}
