// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// IE UPGRADE MESSAGE STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

// LOCAL VARIABLES
$upgrade_msg_bg: #eee;
$upgrade_msg_button_bg: $app_primary;
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

.upgrade-message { background-color: $upgrade_msg_bg; font-size: 1.5em; height: 100%; left: 0; position: absolute; text-align: center; top: 0; width: 100%; z-index: 1000;
  .wrapper { margin: 2em auto 0; height: 15em; width: 60%; }
  h1 { margin: 0; padding: 0.5em; }
  p { font-weight: bold; padding: 0.5em 1em; }
}

.lte-ie8 {
  .container { display: none; }
}
