// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// FORM STYLES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

p + form { margin-top: 2em; }

// @TODO: decide whether still using fieldset for other forms?
// fieldset { border: 0 none; margin: 0; padding: 0 0 pxcalc(20);
//   &:last-of-type { padding-bottom: 0; }
// }

// fieldset + fieldset { border-top-style: solid; border-top-width: 1px; padding-top: pxcalc(20); }

.field-group { clear: both; margin-bottom: 1.5em;

  label { display: block; margin-bottom: 0.5em; }

  input[type="email"],
  input[type="password"],
  input[type="text"],
  input[type="date"] { border: 2px solid $app_light_gray; border-radius: 3px; display: block; padding: pxcalc(10) pxcalc(5); width: 100%;
    &:focus { background-color: lighten($app_highlight, 10%); outline: none; }
  }

  textarea { border: 2px solid $app_light_gray; border-radius: 3px; display: block; padding: pxcalc(15) pxcalc(10); resize: vertical; max-height: 300px; width: 100%; }

  input[type="checkbox"] + label { display: inline-block; }

  select { background-color: #fff; border: 2px solid $app_light_gray; width: 100%;

    // @TODO: attempts at styling the select dropdown across browsers.
    // padding: pxcalc(10) pxcalc(5);
    // -webkit-appearance: none;
    //    -moz-appearance: window;
    //         appearance: none;

    &:focus { background-color: lighten($app_highlight, 10%); outline: none; }
  }
}

.field-group + .heading { clear: both; padding-top: pxcalc(30); }


// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
// MEDIA QUERIES
// ~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~

@media only screen and (min-width: $small) {

  .field-group {

    &.-dual { clear: none; }

  }

}



@media only screen and (min-width: $medium) {

  .field-group {

    input[type="email"],
    input[type="password"],
    input[type="text"],
    input[type="date"] { padding: pxcalc(15) pxcalc(10); }

    select { padding: pxcalc(15) pxcalc(10); }

  }

}
